  body {
    font-family: "Lato", sans-serif;
  }
  
  .ApplicationReview-page {
    display: flex;
  }
  
  .ApplicationReview {
    font-family: "Lato", sans-serif;
    color: #333;
    box-sizing: border-box;
    margin-left: 50px;
    padding: 30px;
  }
  
  .ApplicationReview-header-container {
    display: flex;
    align-items: center;
  }
  
  .ApplicationReview-logo {
    width: 75px;
    margin-right: 20px;
  }
  
  .ApplicationReview-header {
    font-size: 3rem;
    color: #be0019;
  }
  
  .ApplicationReview-sections-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    min-height: 100vh;
  }
  
  .ApplicationReview-section {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 6px solid #be0019;
    flex-direction: column;
  }

  .ApplicationReview-category-heading {
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }  

  .ApplicationReview-category-question {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .ApplicationReview-feedback-box {
    width: 984px;
    height: 105px;
    top: 500px;
    left: 362px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #D9D9D980;
    border: 1px solid #757575
  }  
